<div class="container">
<div class="col-md-8 offset-md-1">
<h1>注文履歴一覧</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>購入者</th>
      <th>購入日</th>
      <th>注文ステータス</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |m| %>
    <tr>
      <td><%= m.last_name+m.first_name %></td>
      <td><%= m.created_at.to_s(:datetime_jp) %></td>
      <td><%= m.orders.address %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>