<h1>カート内商品</h1>
<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価</th>
      <th>数量</th>
      <th></th>
      <th>小計</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>ケーキ</td>
      <td>000</td>
      <td>0</td>
      <td><button class="btn btn-danger btn-sm">a</button></td>
      <td>000</td>
    </tr>
  </tbody>
</table>