// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart{
  .cart_block{
    width: 100%;
  }

  h1{
    display: inline;
  }

  th{
    padding : 20px 10px;
    width: 15%;
    border:solid 1px #aaaaaa;
    background-color: #e0e0e0;
  }

  th:first-child{
    width: 40%;
  }

  td{
    padding : 10px 10px;
    border:solid 1px #aaaaaa;
    vertical-align: middle;
  }

  td:nth-child(3),
  td:nth-child(5){
    text-align: center;
  }

  .product_table{
    margin-top: 20px;
    width: 100%;
    border: solid 1px #000000;
    border-collapse: collapse;
  }

  .product_name{
    margin-left: 20px;
  }

  .row{
    position:relative
  }

  .cart_empty{
    position:absolute;
		top:0px;
		right:15px;
  }

  .continue_btn{
    margin: 50px;
  }

  .price_table{
    width: 30%;
    margin-top: 40px;
    display: inline-block;

    td{
      padding : 20px 10px;
      width: 15%;
      border:solid 1px #aaaaaa;
    }

    td:first-child{
      background-color: #e0e0e0;
    }
  }

  .next_btn{
    margin: 20px auto 0;
    width: 25%;
  }
}