// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-box {
	float: left;
}

// .row {
//     padding-top: 50px;
// }

.space{
    margin-right: 20px;
}

.btn-space{
    margin-left: 400px;
}

.number{
    display: inline-block;
    width: 150px;
}